@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Job List</h1>
<form action="/job_added" method="post">
  <label for="new-title">Job title:</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-description">Job description:</label>
  <input id="new-description" name="new-description" type="text">
  <label for="new-contact-info">Contact information:</label>
  <input id="new-contact-info" name="new-contact-info" type="text">
  <button type="submit">Submit</button>
</form>
