@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Job List</h1>
<form action="/" method="post">
  <label for="new-title">Job title:</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-description">Job description:</label>
  <input id="new-description" name="new-description" type="text">
  <p>Contact information:</p>
  <label for="new-contact-name">Contact:</label>
  <input id="new-contact-name" name="new-contact-name" type="text">
  <label for="new-telephone">Contact telephone:</label>
  <input id="new-telephone" name="new-telephone" type="text">
  <label for="new-email">Contact email:</label>
  <input id="new-email" name="new-email" type="text">
  <button type="submit">Submit</button>
</form>
