@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Job List</h1>
<ul>
  @foreach(var posting in Model)
  {
    <li>@posting.GetTitle()</li>
    <ul>
      <li>@posting.GetDescription()</li>
      <li>@posting.GetContactInfo()</li>
    </ul>
  }
</ul>
<p><a href="/">Add another job</a></p>
<form action="/jobs_cleared" method="post">
  <button type="submit" name="button">Clear All Jobs</button>
</form>
